@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    color: #333333;
    background: #ffffff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
